global_defs {
}

vrrp_script chk_service {
        script '/etc/keepalived/check_script.sh'
        interval 2
}

{% for instance in keepalived_instance %}
vrrp_instance {{ instance.name }} {
    state {{ instance.role }}
    interface {{ instance.primary_interface }}
    virtual_router_id {{ instance.router_id }}
    priority {{ instance.priority }}
    {% if instance.use_vmac is defined %}
    use_vmac
    {% endif %}
    advert_int 1
    {% if instance.unicast_peers is defined %}

    unicast_peer {
      {% for peer in instance.unicast_peers %}
      {{ peer }}
      {% endfor %}
    }

    {% endif %}

    authentication {
        auth_type PASS
        auth_pass {{ instance.auth_pass }}
    }

    virtual_ipaddress {
      {% for vip in instance.instance_vips %}
      {{ vip.address }} dev {{ vip.interface }} label {{ vip.interface }}:0
      {% endfor %}
    }

    {% if instance.notify_master is defined %}
    notify_master "{{ instance.notify_master }}"
    {% endif %}
    {% if instance.notify_backup is defined %}
    notify_backup "{{ instance.notify_backup }}"
    {% endif %}
    {% if instance.notify_fault is defined %}
    notify_fault "{{ instance.notify_fault }}"
    {% endif %}

    {% if instance.track_interface is defined %}
    track_interface {
     {{ instance.track_interface }}
    }

    track_script {
        chk_service
    {% endif %}
    }
}
{% endfor %}

{% if keepalived_sync_group is defined and keepalived_sync_group == True %}
vrrp_sync_group link_instances {
   group {
    {% for instance in keepalived_instance %}
     {{ instance.name }}
    {% endfor %}
  }
}
   
{% endif %}
